{% extends "base.html" %}
{% load bootstap_toolkit }
{% block content %}

		<h2>Skift password</h2>


	<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
	{% csrf_token %}
	<table>
    	<tr>
    	    <td>{{ form.old_password.label_tag }}</td>
    	    <td>{{ form.old_password }}</td>
    	</tr>
    	<tr>
    	    <td>{{ form.new_password1.label_tag }}</td>
    	    <td>{{ form.new_password1 }}</td>
    	</tr>

    	<tr>
    	    <td>{{ form.new_password2.label_tag }}</td>
    	    <td>{{ form.new_password2 }}</td>
    	</tr>

	</table>

	<input class='btn' type="submit" value="Change password" />
	</form>
{% endblock %}
