{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Macdesk Vault{% endblock %}
{% block extrastyle %}
<style>
#header{
  background-color: #333940;
  border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	}

#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name">Macdesk Vault</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
