{% load i18n %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Macdesk Vault{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="{{ STATIC_URL }}css/plugins/dataTables.bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">
<link rel="stylesheet"
  href='/static/datatables-bootstrap.css'
  type="text/css" media="all" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ STATIC_URL }}js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- DataTables JavaScript -->
        <script src="{{ STATIC_URL }}js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="{{ STATIC_URL }}js/plugins/dataTables/dataTables.bootstrap.js"></script>
  </head>

  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Macdesk Vault</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
              {% block nav %}

              {% endblock %}
              {% if user.is_authenticated %}

              <li class="dropdown"><a class="dropdown-toggle" id="dLabel" data-toggle="dropdown" data-target="#" href="#">
              {{ user.username }}
              <b class="caret"></b>
              </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      {% block dropdown %}

                      {% endblock %}

                    {% if user.is_staff %}
                      <li><a href="/admin/">Administration</a></li>
                     {% endif %}
                      <li><a href="/logout/">Log ud</a></li>
                  </ul>
              </li>

              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      <div class="container">

        {% block content %}

        {% endblock %}

      </div><!-- /.container -->

{% block script %}
{% endblock%}
  </body>
</html>
